@import "tailwindcss";

@theme {
  --color-base-100: #111111;
  --color-base-200: #161616;
  --color-base-300: #242424;
  --color-base-content: #f8f8f8;
  --color-primary: #2a7eff;
  --color-primary-content: #eff6ff;
  --color-secondary: #605dff;
  --color-secondary-content: #edf1fe;
  --color-accent: #2a7eff;
  --color-accent-content: #eff6ff;
  --color-neutral: #272322;
  --color-neutral-content: #f8f8f8;
  --color-info: #2a7eff;
  --color-info-content: #eff6ff;
  --color-success: #00d390;
  --color-success-content: #e9faf2;
  --color-warning: #fcb700;
  --color-warning-content: #fdf9e8;
  --color-error: #ff637d;
  --color-error-content: #fceeef;
  --radius-selector: 32px;
  --radius-field: 8px;
  --radius-box: 8px;
  --size-selector: 4.5px;
  --size-field: 4px;
  --border: 1px;
}

:root {
  @apply text-base-content bg-base-100
}

.anim-all {
  @apply transition-all duration-150 ease-in-out
}
